@media (min-width: 1200px) {
    body {
        width: 95%;
        margin: 0 auto;
    }

    .ir-navbar-nav {
        margin-right: 40px;
    }
}

/* @media (min-width: 1200px) {
  
} */



@media (max-width: 950px) {
    .header-banner {
        height: 200px !important;
        /*border: 5px solid blue;*/
    }

    .header-banner img {
        width: 100%;
        height: 100%;
    }

}



.header-banner {
    height: 450px;
    /* background: url("abstract-blue-lines-web-technology-background-vector-20429096.jpg"); */
}


.header-banner img {
    width: 100%;
    height: 100%;
}

.header-banner-logo {
    height: 100%;
    border-radius: 44px;
    margin-right: 0px;
    margin-left: 18px;
}

.header-banner-heading {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: Kavivanar, cursive;
}

.header-navbar {
    margin: -1px 0px 0px;
    margin-top: -1px;
}

.ir-navbar-item {
    font-size: 15px;
    font-family: Alatsi, sans-serif;
}
